@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

html {
  scrollbar-gutter: stable;
}

html, body {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg:not(.qrCode) [fill] {
  fill: currentColor;
}

svg:not(.qrCode) [stroke] {
  stroke: currentColor;
}

#qrCode svg:not(.qrCode) [fill] {
  fill: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
:root {
  --color-lighter: #F2F1F1;
  --color-light: #FFFFFF;
  --color-darker: #EEEEEE;
  --color-dark: #141414;
  --color-dardaker-gray: #2D2D27;
  --color-dark-gray: #4D4D4D;
  --color-medium-gray: #B7B7B7;
  --color-lighter-gray: #D9D9D9;
  --color-light-gray: #e7e7e7;
  --color-main-orange: #E95522;
  --color-main-gray: rgb(77, 77, 77);
  --color-main-gray-transparent: rgba(77, 77, 77, 0.8);
  --color-main-gray-text-fields: rgba(238, 238, 238, 1);
  --color-dark-darkerblue: #1e1e2f;
  --color-main-darkblue: #1e2742;
  --color-main-darkblue-transparent: rgba(30, 39, 66, 0.95);
  --Color-dark-lightblue: #9AA8E2;
  --color-main-div: #f1f1f1;
  --transition-duration: 0.2s;
  --transition-duration-fastest: 0.1s;
  --container-padding-x: 16px;
  --container-width: 87.5rem;
}
@media (width <= 1440px) {
  :root {
    --container-width: 62.5rem;
  }
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@media (width > 1023px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width <= 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width > 767px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

body {
  font-size: 1rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: var(--font-nunito), sans-serif;
  color: var(--color-dark);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}

svg.lucide {
  fill: none;
}

@media (width <= 1023px) {
  .rellax {
    transform: translate3d(0, 0, 0) !important;
  }
}
.button-ui {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  padding: 0.75rem 1.125rem;
  background: transparent;
  color: var(--color-light);
  border-width: 3px;
  border-style: solid;
  border-color: var(--color-main-orange);
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button-ui__spin-loader {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button-ui svg {
  fill: none;
}
.button-ui:disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (any-hover: hover) {
  .button-ui:hover {
    background: var(--color-main-orange);
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  .button-ui:active {
    background: var(--color-main-orange);
    color: var(--color-light);
  }
}

@keyframes animate-spin {
  to {
    transform: rotate(360deg);
  }
}
.dialog-ui-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
}
.dialog-ui-overlay[data-state=open] {
  animation: fade-in 100ms ease-out;
}
.dialog-ui-overlay[data-state=closed] {
  animation: fade-out 100ms ease-in;
}

.dialog-ui-content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  display: grid;
  width: 100%;
  max-width: 32rem;
  transform: translateX(-50%) translateY(-50%);
  gap: 1rem;
  border: 1px solid #e5e7eb;
  background-color: var(--color-light);
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition-duration: 100ms;
  border-radius: 0.9375rem;
  overflow-y: auto;
}
.dialog-ui-content[data-state=open] {
  animation: content-open 100ms ease-out;
}
.dialog-ui-content[data-state=closed] {
  animation: content-close 100ms ease-in;
}

.dialog-ui-header {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  text-align: center;
}
@media (min-width: 640px) {
  .dialog-ui-header {
    text-align: left;
  }
}

.dialog-ui-footer {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 640px) {
  .dialog-ui-footer {
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}

.dialog-ui-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
}

.dialog-ui-description {
  font-size: 0.875rem;
  color: #6b7280;
}

.dialog-ui-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 100ms;
}
.dialog-ui-close svg {
  display: block;
  stroke: var(--color-main-orange);
  fill: var(--color-main-orange);
  width: 2.5rem;
  height: 2.5rem;
}
@media (any-hover: hover) {
  .dialog-ui-close:hover {
    transform: scale(1.2);
  }
}
@media (any-hover: none) {
  .dialog-ui-close:active {
    transform: scale(1.2);
  }
}
.dialog-ui-close:disabled {
  pointer-events: none;
}

.dialog-ui-trigger {
  width: fit-content;
  padding: 0;
  border: none;
  background: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes content-open {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
@keyframes content-close {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
  }
}
.sheet-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
}
.sheet-overlay[data-state=open] {
  animation: fadeIn 0.3s ease-in;
}
.sheet-overlay[data-state=closed] {
  animation: fadeOut 0.3s ease-out;
}

.sheet-content {
  position: fixed;
  z-index: 50;
  right: 0;
  top: 0;
  height: 100%;
  width: 75%;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.sheet-content[data-state=open] {
  animation: slideInFromRight 0.5s ease-in-out;
}
.sheet-content[data-state=closed] {
  animation: slideOutToRight 0.3s ease-in-out;
}
@media (min-width: 640px) {
  .sheet-content {
    max-width: 24rem;
  }
}

.sheet-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 100ms;
}
.sheet-close svg {
  display: block;
  stroke: var(--color-dark);
  fill: var(--color-dark);
  width: 2.5rem;
  height: 2.5rem;
}
@media (any-hover: hover) {
  .sheet-close:hover {
    transform: scale(1.2);
  }
}
@media (any-hover: none) {
  .sheet-close:active {
    transform: scale(1.2);
  }
}
.sheet-close:disabled {
  pointer-events: none;
}

.sheet-close-icon {
  width: 1rem;
  height: 1rem;
}

.sheet-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
@media (min-width: 640px) {
  .sheet-header {
    text-align: left;
  }
}

.sheet-footer {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 640px) {
  .sheet-footer {
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}

.sheet-title {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: start;
}

.sheet-description {
  font-size: 0.875rem;
  color: #6b7280;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.carousel {
  position: relative;
}
.carousel__content {
  overflow: hidden;
}
.carousel__track {
  display: flex;
}
.carousel__track--horizontal {
  margin-left: -1rem;
}
.carousel__track--vertical {
  flex-direction: column;
  margin-top: -1rem;
}
.carousel__item {
  min-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}
.carousel__item--horizontal {
  padding-left: 1rem;
}
.carousel__item--vertical {
  padding-top: 1rem;
}
.carousel__button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.carousel__button--prev.carousel__button--horizontal {
  top: 50%;
  left: -3rem;
  transform: translateY(-50%);
}
.carousel__button--prev.carousel__button--vertical {
  top: -3rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
.carousel__button--next.carousel__button--horizontal {
  top: 50%;
  right: -3rem;
  transform: translateY(-50%);
}
.carousel__button--next.carousel__button--vertical {
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
.carousel__button-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625rem 0;
}
.header__wrapper {
  background: var(--color-lighter-gray);
}
.header__logo {
  display: flex;
}
.header__logo__title {
  font-size: 2.5rem;
  margin-left: 1.25rem;
  align-items: center;
}
.header__pages {
  display: flex;
}
.header .hidden-tablet {
  display: flex;
  align-items: center;
}

ul.header__pages__navbar {
  display: flex;
  gap: 50px;
}
ul.header__pages__navbar li {
  font-size: 1.5625rem;
  background: var(--color-);
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
ul.header__pages__navbar li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-dark-gray);
  border-radius: 1px;
  transition: width 0.3s ease;
}
ul.header__pages__navbar li:hover::after {
  width: 100%;
}
ul.header__pages__navbar li:hover {
  color: var(--color-dark-gray);
}

.burger-button {
  display: flex;
  background: var(--color-medium-gray);
  padding: 6px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.burger-button__svg {
  display: block;
}
.burger-button__navbar {
  display: flex;
  flex-direction: column;
  gap: 20px !important;
  font-size: 1.5rem;
}
.burger-button__navbar__title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (any-hover: hover) {
  .burger-button:hover {
    border-color: transparent;
  }
}
@media (any-hover: none) {
  .burger-button:active {
    border-color: transparent;
  }
}
.burger-button__line {
  fill: none;
  stroke: var(--color-light);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 60 207;
  transition: stroke-dasharray var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-button__line--2 {
  stroke-dasharray: 60 60;
}
.burger-button__menu {
  display: flex;
  align-items: center;
}

.header__social {
  width: 100%;
  align-items: center;
}
.header__social__icon {
  width: 3.125rem;
  height: 3.125rem;
  fill: var(--color-dark);
  transition: all var(--transition-duration-fastest) ease;
}
.header__buttons {
  display: flex;
  gap: 1.5625rem;
}
.header__buttons__profile {
  align-items: center;
}
.header__buttons__profile__svg {
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
}

.footer {
  background: var(--color-lighter-gray);
  padding: 20px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content__column .no-bullets {
  list-style: none;
}
.footer__socials {
  display: flex;
  gap: 10px;
}
.footer__socials__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.welcome-section {
  margin-top: -150px;
  min-height: 110vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.welcome-section__wrapper {
  position: absolute;
  inset: 0;
  background: url("/img/welcome-section3.jpg") center bottom/cover no-repeat;
  transform: scale(1.02);
  z-index: -2;
  filter: blur(7px);
}
.welcome-section__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.welcome-section__content__logo {
  width: 500px;
  height: 500px;
}
.welcome-section__content__logo g {
  fill: var(--color-light) !important;
}
.welcome-section__content__title {
  font-size: 32px;
  color: var(--color-light);
}

.about-gym {
  align-items: center;
  margin: 3.75rem 0 3.75rem;
}
.about-gym__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.about-gym__content__about {
  justify-content: space-around;
  width: 1400px;
  margin-bottom: 20px;
}
.about-gym__content__about__title {
  margin-bottom: 10px;
}
.about-gym__content__about__description {
  font-size: 1.25rem;
}
.about-gym__content__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.about-gym__content__list ul {
  display: flex;
  gap: 1.875rem;
}
.about-gym__content__list__title {
  margin-bottom: 40px;
}
.about-gym__content__list__item {
  display: flex;
  align-items: center;
  width: 28.125rem;
  height: 3.375rem;
  font-size: 1.125rem;
  margin-bottom: 30px;
}
.about-gym__content__list__item:last-child {
  margin-bottom: 0;
}

.slider-about__wrapper {
  width: 80%;
}

.slider-about {
  position: relative;
  display: flex;
  margin: 0 2px;
}
.slider-about__img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.slider-about__progress-bar {
  position: absolute;
  height: 6px;
  width: 100%;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0e0e0;
  overflow: hidden;
}
.slider-about__progress-bar__fill {
  height: 100%;
  background-color: #000;
  transition: width 0.016s linear;
}

.slider-about-embla {
  width: 100%;
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.top-coaches {
  background-color: var(--color-light-gray);
}
.top-coaches__content__title {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.about-coaches {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/*# sourceMappingURL=main.css.map */
