@use '../helpers/index' as *;

.top-coaches {
  background-color: var(--color-light-gray);

  &__content {

    &__title {
      display: flex;
      justify-content: center;
      margin: 30px;
    }
  }
}

.about-coaches {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}