@use '../helpers/index' as *;

.dialog-ui-overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);

    &[data-state="open"] {
        animation: fade-in 100ms ease-out;
    }
    &[data-state="closed"] {
        animation: fade-out 100ms ease-in;
    }
}

.dialog-ui-content {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 50;
    display: grid;
    width: 100%;
    max-width: 32rem;
    transform: translateX(-50%) translateY(-50%);
    gap: 1rem;
    border: 1px solid #e5e7eb;
    background-color: var(--color-light);
    padding: rem(24);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-duration: 100ms;
    border-radius: rem(15);
    overflow-y: auto;

    &[data-state="open"] {
        animation: content-open 100ms ease-out;
    }
    &[data-state="closed"] {
        animation: content-close 100ms ease-in;
    }
}

.dialog-ui-header {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    text-align: center;

    @media (min-width: 640px) {
        text-align: left;
    }
}

.dialog-ui-footer {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 640px) {
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.5rem;
    }
}

.dialog-ui-title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.025em;
}

.dialog-ui-description {
    font-size: 0.875rem;
    color: #6b7280;
}

.dialog-ui-close {
    position: absolute;
    right: rem(24);
    top: rem(24);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 100ms;

    svg {
        display: block;
        stroke: var(--color-main-orange);
        fill: var(--color-main-orange);
        width: rem(40);
        height: rem(40);
    }

    @include hover {
        transform: scale(1.2);
    }

    &:disabled {
        pointer-events: none;
    }
}

.dialog-ui-trigger {
    width: fit-content;
    padding: 0;
    border: none;
    background: none;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes content-open {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
}

@keyframes content-close {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0.95);
    }
}